@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    scroll-behavior: smooth;
}

/*Menu hamburger responsive START */

.resp-nav{
    background-color: #63A4C7;
    height: 80px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.resp-nav-scrolled {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    transition: all 0.5s ease-in-out;
}

.resp-nav-scrolled > .resp-nav-content{
    color: black;
    transition: all 0.5s ease-in-out;
}

.resp-nav-content{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.resp-nav > .resp-nav-content > a > .logo-resp {
    width: 80px;
    height: fit-content;
}



.resp-nav > .resp-nav-content > a > img {
    width: 40px;
}


.openModal{
    text-decoration: none;
}


.hamburger-menu {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.hamburger-menu:target {
    display: block;
}
  
.hamburger-menu-content {
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0px 0px 0px 20px;
    width: 70%;
    height: fit-content;
    max-height: 80vh;
    animation-duration: 1.5s;
    animation-name: slidein;
}

.hamburger-menu-content > h2 {
    margin-bottom: 20px;
    text-align: center;
}

.hamburger-menu-content > .tab-resp {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hamburger-menu-content > .tab-resp > a {
    text-decoration: none;
    color: black;
    padding: 18px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.163);
}

.hamburger-menu-content > .tab-resp > a:hover {
    text-decoration: none;
    color: black;
    padding: 18px 0;
    background-color: rgba(0, 0, 0, 0.066);
    border-bottom: 1px solid rgba(0, 0, 0, 0.459);
    transition: all 0.3s ease-in-out;
}

.resp-basket-connexionInscription {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resp-basket-connexionInscription > .resp-basket > a > img {
    width: 35px;
    margin-bottom: 6px;
}

.resp-basket-connexionInscription > .resp-basket > a {
    text-decoration: none;
    color: black;
}

.resp-basket-connexionInscription > .resp-basket{
    width: 230px;
    padding: 15px 0;
    text-align: center;
}

.resp-basket-connexionInscription > .resp-connexionInscription{
    width: 230px;
    padding: 15px 0 15px 10px;
    text-align: center;
}

.resp-basket-connexionInscription > .resp-connexionInscription > a > img {
    width: 35px;
    margin-bottom: 6px;
}

.resp-basket-connexionInscription > .resp-connexionInscription > a {
    text-decoration: none;
    color: black;
}
 
.close-hamburger-menu {
    color: #63A4C7;
    position: fixed;
    right: 3%;
    top: 2%;
    float: right;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    animation-duration: 4s;
    animation-name: fadein;
}
  
.close-hamburger-menu:hover {
    color: #375DA5;
    transition: all 0.3s ease-in-out;
}

/*ANIMATION HAMBURGER MENU*/

@keyframes slidein {
    from {
      opacity: 0.5;
      right: -500px;
    }
  
    to {
      opacity: 1;  
      right: 0;
    }
}    

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

/*Menu hamburger responsive END */




/*      HOME PAGE START       */


/*NAV START*/

nav {
    background-color: #63A4C7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 100px;
}

.nav-scrolled {
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    transition: all 0.5s ease-in-out;
}

.nav-scrolled > .tab > a {
    color: black;
}

.nav-scrolled > .tab > a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    border-bottom: 2px solid rgba(0, 0, 0, 0.66);
    transition: all 0.5s ease-in-out;
}

.nav-scrolled > .basket-connexionInscription > .basket > a {
    color: black;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav-scrolled > .basket-connexionInscription > .basket > a:hover {
    color: rgba(0, 0, 0, 0.9);
    border-bottom: 2px solid rgba(0, 0, 0, 0.66);
}

.nav-scrolled > .basket-connexionInscription > .connexionInscription > a {
    color: black;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.nav-scrolled > .basket-connexionInscription > .connexionInscription > a:hover{
    color: rgba(0, 0, 0, 0.9);
    border-bottom: 2px solid rgba(0, 0, 0, 0.66);
}

.nav-scrolled > .basket-connexionInscription {
    border-left: 2px solid rgba(0, 0, 0, 0.297);
}

.logo {
    height: 100px;
    width: inherit;
}

.tab{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.tab > a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.tab > a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
    transition: all 0.5s ease-in-out;
}

.basket > a , .connexionInscription > a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.basket > a:hover , .connexionInscription > a:hover {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    transition: all 0.5s ease-in-out;
}

.basket-connexionInscription {
    display: flex;
    flex-direction: column;
    border-left: 2px solid white;
    padding-left: 50px;
}

.basket {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.basket > img {
    height: 30px;
    margin-right: 10px;
}


.connexionInscription {
    display: flex;
    align-items: center;
}

.connexionInscription > img {
    height: 25px;
    padding-left: 6px;
    margin-right: 10px;
}
/*NAV END*/

/*CALL TO ACTION START*/

.call-to-action {
    background-image: url(../INC/IMG/Accueil/waldemar-k06EAtkJzXU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    padding-top: 5%;
}

.cta-content {
    color: white;
    background-color: #375da596;
    border-radius: 20px;
    padding: 50px 80px;
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.cta-content > h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.cta-content > p {
    margin-bottom: 60px;
    font-size: 1.2rem;
    font-weight: 600;
}

.cta-content > a {
    display: block;
    margin: auto;
    width: 150px;
    text-align: center;  
    text-decoration: none;
    color: white;
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: #63A4C7;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 1.1rem;
}

.cta-content > a:hover {
    background-color: white;
    color: #63A4C7;
    border: 3px solid #63A4C7;
    transition: all 0.5s ease-in-out;
}
/*CALL TO ACTION END*/

/*ANCHOR START*/

.anchor {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: #63A4C7;
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.anchor > img {
    height: 30px;
    transform: rotate(-90deg);
}
/*ANCHOR END*/

/*SERVICES SECTION START*/

.services {
    margin-top: 50px;
    margin-bottom: 5%;
    text-align: center;
}

.blue-title {
    color: #375DA5 ;
    font-weight: bold;
    font-size: 2rem;
}

.flex-container-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 7% 1% 5% 1%;
}

.service-card {
    width: 280px;
    margin: 15px;
    background-color: #63A4C7;
    border-radius: 20px;
    overflow: hidden;
    color: white;
}

.service-card > img {
    width: 100%;
}

.service-card > h3 {
    padding: 20px 0;
}

.service-card > p {
    padding: 0 20px 20px 20px;
    text-align: justify;
}


.services > a {
    text-decoration: none;
    color: white;
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: #63A4C7;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 1.1rem;
}

.services > a:hover{
    background-color: white;
    color: #63A4C7;
    border: 3px solid #63A4C7;
    transition: all 0.5s ease-in-out;
}
/*SERVICES SECTION END*/

/*QUI SOMMES NOUS ? SECTION START*/

.title-container-half{
    width: 60%;
    text-align: center;
    margin: 50px 0;
}

.main-container-text-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5%;
}

#first-main-container-text-img{
    flex-wrap: wrap-reverse;
}

.container-text{
    width: 50%;
}

.container-img {
    width: 500px;
    display: flex;
    align-items: center;
    text-align: center;
}

.container-img > img {
    width: 100%;
    margin-bottom: 30px;
}
/*QUI SOMMES NOUS ? SECTION END*/

/*NOS ENGAGEMENTS SECTION START*/

.title-container-full{
    text-align: center;
}

.column-3-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.commitment {
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.commitment > img {
    height: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.commitment > h3 {
    text-align: center;
    padding: 20px 0;
}
/*NOS ENGAGEMENTS SECTION END*/

/*TESTIMONIAL START*/

.wave-img {
    width: 100%;
    display: block;
}

.testimonial-container {
    background-color: #63a4c7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 30px;
}

.testimonial-left {
    width: 50%;
    color: white;
    text-align: center;
}

.testimonial-left > h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.testimonial-left > img {
    height: 130px;
}

.testimonial-card {
    display: flex;
    align-items: center;
    background-color: #e4eeff;
    width: 500px;
    height: fit-content;
    border-radius: 15px;
    padding: 15px 0;
}

.testimonial-card > img {
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
}

.text > p {
    font-size: 0.8rem;
    padding: 20px 0;
    text-align: justify;
}

.author {
    display: flex;
    justify-content: right;
    align-items: center;
}

.author > p {
    font-size: 0.85rem;
}

.author > .img-author{
    border-radius: 100%;
}

.author > img {
    height: 50px;
}
/*TESTIMONIAL END*/

/*FOOTER START*/

footer{
    background-color:#63A4C7;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column-3-footer{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
    margin: 1% 18%;
}

.about {
    color: white;
    width: 300px;
    margin-bottom: 20px;
}

.about > p {
    font-size: 0.8rem;
    margin: 20px 0;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 180px;
    margin-bottom: 20px;
}

.nav-footer > a {
    text-decoration: none;
    color: white;
    width: fit-content;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    margin: 2% 0;
}

.nav-footer > a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
    transition: all 0.5s ease-in-out;
}

.icon-footer {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
}

.icon-footer > h3 {
    color: white;
}

.social-icon {
    display: flex;
}

.social-icon > a > img {
    height: 25px;
    padding: 0 5px;
    cursor: pointer;
}

.social-icon > a > img:hover {
    opacity: 0.6;
    scale: 0.95;
    transition: all 0.2s ease-in-out;
}

.paiement-icon > img{
    width: 100px;
    margin-top: 20px;
}

.brand-copyright{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

.brand-copyright > p {
    color: white;
}

.brand-copyright > a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

.brand-copyright > span {
    color: white;
}
/*FOOTER END*/

/*      HOME PAGE END       */


/*      ==========================       */


/*      ARTCLES PAGE START       */

/*HEADER DEPOT ARTICLES START*/

.heading-depot-articles {
    padding: 100px 0% 0px 110px;
}

.heading-depot-articles > h2{
    margin-bottom: 30px;
}

.heading-depot-articles > p{
    padding-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 600;
}
/*HEADER DEPOT ARTICLES END*/

/*CONTAINER ARTICLES + BASKET START*/

.container-depot-article-basket{
    display: flex;
    align-items: start;
    width: 100%;
}
/*CONTAINER ARTICLES + BASKET END*/

/*CONTAINER ARTICLES START*/

.depot-article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 75%;
    padding: 50px 0 0 20px;
}

.card-article{
    background-color: #63A4C7;
    width: 220px;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.card-article > img{
    width: 100%;
}

.card-article:hover{
    cursor: pointer;
    opacity: 0.7;
    scale: 1.01;
    transition: all 0.5s ease-in-out;
}

.card-article > h3 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
/*CONTAINER ARTICLES END*/

/*MODAL ARTICLE START*/

.openModal{
    text-decoration: none;
}


.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal:target {
    display: block;
}
  
.modal-content {
    background-color: #fff;
    position: fixed;
    left: 10%;
    top: 10%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 80%;
    max-height: 80vh;
    overflow: scroll;
}
  
.close {
    color: #63A4C7;
    position: fixed;
    right: 9%;
    top: 50;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}
  
.close:hover {
    color: #375DA5;
    transition: all 0.3s ease-in-out;
}

.container-number-remark{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.nb-article {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 300px;
    height: fit-content;
    margin-bottom: 20px;
}

.nb-article > label {
    margin-right: 30px;
}

.nb-article > select {
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
}

.remark{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.remark > label {
    margin: 0px 0 10px 0;
}

.remark > textarea {
    max-width: 280px;
    min-width: 280px;
    min-height: 150px;
    max-height: 150px;

    padding: 10px;
    border-radius: 15px;
    outline: none;
}

.container-select-service{
    margin-bottom: 20px;
}

.container-select-service > h3 {
    display: block;
    margin-bottom: 10px;
}

.flex-container-select-service{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.select-service{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 5px;
    padding: 0 30px 10px 30px;
}

.select-service > .price{
    display: flex;
    margin-left: 100px;
}

.container-btn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.container-btn > .price {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
}

.container-btn > .price > h3 {
    font-size: 1.3rem;
    padding-right: 15px;
}

.main-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: #63A4C7;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    width: fit-content;
}

.main-btn:hover{
    cursor: pointer;
    color: #63A4C7;
    border: 3px solid #63A4C7;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.btn-cancel{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 1.1rem;
    border: 3px solid rgba(0, 0, 0, 0);
    background-color: rgb(255, 0, 0);
    color: white;
    margin-bottom: 20px;
}

.btn-cancel:hover{
    background-color: white;
    color: black;
    border: 3px solid rgb(255, 0, 0);
    transition: all 0.5s ease-in-out;
}
/*MODAL ARTICLE END*/

/*CONTAINER BASKET START*/

.container-basket{
    width: 25%;
    height: fit-content;
    padding: 120px 20px 20px 20px;
    position: sticky;
    top: 0;
    border-left: 2px solid #375DA5;
}

.container-basket > h3 {
    margin-bottom: 30px;
}
/*CONTAINER BASKET END*/

/*      ARTCLES PAGE END       */




/*      CONTACT PAGE START       */



/*      CONTACT PAGE START       */

@media screen and (max-width: 1000px){
    nav{
        display: none;
    }

    .resp-nav{
        display: flex;
    }

    .call-to-action {
        background-image: url(../INC/IMG/Accueil/waldemar-k06EAtkJzXU-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 380px;
        padding-top: 5%;
    }

    .cta-content {
        color: white;
        background-color: #375da596;
        border-radius: 20px;
        padding: 25px 50px;
        width: 68%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .cta-content > h1 {
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 1.2rem;
    }
    
    .cta-content > p {
        margin-bottom: 60px;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .title-container-half{
        width: 100%;
        text-align: center;
        margin: 50px 0;
    }

    .container-text{
        width: 80%;
    }


    /*PAGE DEPOT ARTICLE*/

}

